block vars
    - var bodyClass = "body-graphs"
extends layout
block container
    .row
        each beer in beers
            //-
                .col-md-1
                    p= beer.name
            .col-md-3
                .panel.panel-primary
                    .panel-heading=beer.name
                    .panel-body
                        div(id=beer.slug, class="ct-chart")
                    table.table
                        tbody
                            tr
                                td.b Price
                                td.price -
                                td.b Change
                                td.change-currency -
                                td.change-percent -
                            tr
                                td.b Volume
                                td.volume -
                                td.b Range
                                td.range(colspan=2) -
        .col-md-3
            .panel.panel-primary
                .panel-heading Time to Price Update
                .panel-body
                    h1#countdown-timer
                        

    .row
        .col-md-12
            button.btn.btn-primary(onclick="updatePrices()").
                Update Prices
block script
    script(src="/js/graphs.js")
