doctype html
html(lang="en")
    head
        title BeerBroker
        link(rel="stylesheet", href="/node_modules/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/node_modules/chartist/dist/chartist.css")
        link(rel="stylesheet", href="/css/app.css")
    body

        #container.container-fluid
            block container
        script(src="/node_modules/chartist/dist/chartist.js")
        script(src="/socket.io/socket.io.js")
        block script
