extends layout
block container
    .row
        .col-sm-8
            .panel.panel-primary
                .panel-heading.
                    Products
                .panel-body
                    .row
                        each beer in beers
                            .col-sm-4
                                .beer(onclick="addBeer(#{beer.id});",id=beer.slug)
                                    h4.name= beer.name
                                    h5.
                                        Price: <span class="price"></span>
                    .price-lock-overlay
                        a.btn.btn-primary.btn-lg(onclick="newOrder()").
                            New order
        .col-sm-4
            .panel.panel-primary
                .panel-heading.
                    Cart
                table.table#cart
                    thead
                        tr
                            th.
                                Q.
                            th.
                                Product
                            th.
                                Price
                    tbody
                    tfoot
                        tr
                            th.
                            th.
                                Total
                            th.total-price

                .panel-footer
                    a.btn.btn-success.
                        Create Order


block script
    script(src="/js/order.js")
