.panel {
    margin-top: 20px;
}
.panel-body {
    position:relative;
}
.beer {
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom:10px;
    background-color:#eee;
    cursor: pointer;
}
.beer h4 {
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}
.beer h5 {
    text-align: center;
    font-size: 12px;
}

#clear-order-button {
    margin-left:10px;
}

#countdown-timer {
    color:white;
    text-align:center;
}

.price-lock-overlay {
    background: rgba(240,240,240,0.8);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.price-lock-overlay a.btn {
    top: 50%;
    left:50%;
    margin-left:-41px;
    margin-top:-12px;
    position:relative;
}


.body-graphs .ct-grids .ct-grid {
    stroke: #ffff00;
}

.body-graphs .panel-body, .body-graphs .panel table {
    background:#114477;
}

.body-graphs .panel table.table {
    color: #eee;
    overflow:hidden;
    border-top:1px solid #337ab7;
}
.body-graphs .panel table td {
    border: 1px solid #337ab7;
}
    .body-graphs .panel table td.b {
        font-weight: bold;
    }
.body-graphs .ct-series .ct-line {
    stroke:#fff;
}


.body-graphs .ct-labels .ct-label {
    color:#fff;
    font-size:12px;
}
.body-graphs {
    background:#003366;
}
